
.card{
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
    white-space: normal;
    overflow: hidden !important;
}

.card .card-img-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    overflow: hidden !important;
}

.card .card-body{
    padding: 24px !important;
}

.text-primary-clr{
    color: rgb(24, 17, 60) !important;
}

.text-secondary-clr{
    color: rgb(92, 87, 118) !important;
}

.btn-primary-clr{
    background-color: #19cb98;
}

.mn{
    margin-top: -3.5rem !important;
}

.card-header .nav .nav-item{
    margin: 0 1.5rem !important;
}

.card-header .nav .nav-item .nav-link:hover {
    background-color: transparent !important;
    border-bottom: 2px solid #754ffe !important;
    color: #754ffe !important;

}

.card-header .nav .nav-item .nav-link{
    padding: 15px 0 !important;
    margin-bottom: -1px !important;
    font-weight: 500;
    whitespace: nowrap !important;
}

.card-header .nav .nav-item .active {
    background-color: transparent !important;
    border-bottom: 2px solid #754ffe !important;
    color: #754ffe !important;
}

button:focus {
    box-shadow: none !important;
}

button:hover{
   color: #754ffe !important;
}

.text-tertiary-clr{
    color: rgb(94, 63, 203) !important;
}

.bg-purple{
    background-color:#754ffe;
}

.btn-browse{
        background-color: #D8FE4F;
        font-weight:600;
        color: rgb(24, 17, 60);
}
.btm-margin{
    margin-bottom: 100px !important;
}
@media (max-width: 992px){
    .btm-margin{
       margin-bottom: 220px !important;
    }

    .rate-card{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 770px){
    .description-cont{
        display: block;
        text-align: inherit;
    }
}

