{% extends 'base.html' %}
{% block content %}
{% load static %}
<section>
    <h1 class="p-5 text-white" style="background-color:#754ffe;">Courses</h1>
</section>
<div class="container py-5">
     <div class="row d-flex justify-content-center">
            {% for detail in course_data %}
            <div class="col-lg-3 col-md-6 mb-5 d-flex justify-content-center">
              <div class="card border-0" style="width: 250px;">
                <a href="{% url 'course_details' detail.idx %}">
                    <img src={{detail.image.url}} class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h6 class="card-title">
                        <a href="{% url 'course_details' detail.idx %}" class="fw-bolder text-decoration-none text-primary-clr">{{ detail.title }}</a></h6>
                    <h6 class="card-text text-secondary-clr">{{ detail.short_description }}</h6>
                </div>
                <div class="card-footer bg-white">
                    <h6 class="card-text text-secondary-clr text-center">Jasbir Arora</h6>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock content %}
