{% extends 'settings_base.html' %}

{% block form_content %}
{% load widget_tweaks %}
<form method="POST" id="password_change" class="bg-white shadow-lg p-5">
   {% csrf_token %}
    <h2 class="pb-2 text-primary-clr">Change Password</h2>
      <div class="form-floating mb-3">
         {% render_field form.old_password class="form-control rounded-4" placeholder="Old Password" %}
        <label for="old_password" class="text-secondary-clr">Old Password</label>
        <small class="text-danger text-decoration-none">{{ form.errors.old_password }}</small>
      </div>
      <div class="form-floating mb-3">
        {% render_field form.new_password1 class="form-control rounded-4" placeholder="New Password" minlength="8" %}
        <label for="new_password1" class="text-secondary-clr">New Password</label>
        <small class="text-danger">{{ form.errors.new_password1 }}</small>
      </div>
      <div class="form-floating mb-3">
        {% render_field form.new_password2 class="form-control rounded-4" placeholder="Confirm Password" minlength="8" %}
        <label for="new_password2" class="text-secondary-clr">Confirm Password</label>
        <small class="text-danger">{{ form.errors.new_password2 }}</small>
      </div>
      <div class="d-flex justify-content-start">
          <input class="mb-2 btn btn-lg border-0 bg-purple" type="submit" value="Change" style="color: white;" id="btn_chnge_pswd">
      </div>
</form>
{% endblock form_content %}