{% extends 'base.html' %}
{% block content %}
{% load static %}
 <div class="pt-5 pb-5" style="background-color:#754ffe;">
        <div class="container mb-5">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div>
                        <h1 class="text-white display-6 fw-semi-bold">Getting Started with JavaScript</h1>
                        <p class="text-white mb-6 lead">
                            JavaScript is the popular programming language which powers web pages and web applications. This course will get you started coding in JavaScript.
                        </p>
                    </div>
                </div>
            </div>
       </div>
 </div>
<div>
 <div class="container">
     <div class="row">
         <div class="col-lg-8 mn">
             <div class="card rounded-3 border-0">
                  <div class="card-header border-bottom-0 p-0 bg-white">
                    <ul class="nav card-header-tabs" style="border-bottom: 1px solid #e8e7ed;">
                      <li class="nav-item border-bottom ps-2">
                        <a class="nav-link text-decoration-none text-secondary-clr active" aria-current="true" href="#">Contents</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary-clr" href="#">Description</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed px-0 text-primary-clr bg-white" style="font-weight: 500;" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Accordion Item #1
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body px-0 pt-0">
                                  <ul class="list-group list-group-flush ">
                                      <li class="list-group-item border-bottom-0 d-flex justify-content-between text-primary-clr"><div><span class="text-tertiary-clr bg-light rounded-circle me-2"><i class="bi bi-caret-right-fill"></i></span>An item</div><span>1m7s</span></li>
                                      <li class="list-group-item border-bottom-0 text-primary-clr">A second item</li>
                                      <li class="list-group-item border-bottom-0 text-primary-clr">A third item</li>
                                      <li class="list-group-item border-bottom-0 text-primary-clr">A fourth item</li>
                                      <li class="list-group-item border-bottom-0 text-primary-clr">And a fifth one</li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed bg-white px-0 text-primary-clr" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Accordion Item #2
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed px-0 bg-white text-primary-clr" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Accordion Item #3
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed px-0 bg-white text-primary-clr" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Accordion Item #3
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed px-0 bg-white text-primary-clr" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Accordion Item #3
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed px-0 bg-white text-primary-clr" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Accordion Item #3
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                          </div>
                        </div>
                  </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="card border-0 rounded-3" style="width: 22rem; margin-top: -12rem;">
              <img src="{% static 'img/course-javascript.jpg' %}" class="card-img-top p-1 rounded-3" alt="...">
              <div class="card-body">
                <h4 class="card-title text-primary-clr fw-bolder">₹500</h4>
                <a href="#" class="btn  btn-dark d-grid mt-4" style="background-color: #754ffe; border-color: #754ffe;">Buy</a>
              </div>
             </div>
        </div>
     </div>
  </div>
</div>
     {% endblock content %}
