{% extends 'base.html' %}
{% block content %}
{% load static %}
 <div class="pt-5 pb-5" style="background-color:#754ffe;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div>
                        <h1 class="text-white display-4 fw-semi-bold">Getting Started with JavaScript</h1>
                        <p class="text-white mb-6 lead">
                            JavaScript is the popular programming language which powers web pages and web applications. This course will get you started coding in JavaScript.
                        </p>
                    </div>
                </div>
            </div>
        </div>
 </div>
 <div class="container">
     <div class="card text-center border-0">
      <div class="card-header bg-white">
        <ul class="nav card-header-tabs">
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-secondary-clr" aria-current="true" href="#">Contents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-secondary-clr" href="#">Description</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
{% endblock content %}