body{
   font-family: 'Noto Serif', serif;
}

.navbar{
      margin-left: 80px;
      margin-right: 80px;
}

.navbar .navbar-brand{
    color: #484A87;
    font-weight: bold;
}

.navbar .navbar-brand:hover{
   color: #484A87;
   font-weight: bold;
}

.navbar .nav-item .nav-link{
   color: #1E1E5C;
}
.active {
   color: #1E1E5C !important;
   font-weight: bold;
}

.navbar .nav-item .nav-link:hover{
   color: #1E1E5C !important;
}

.display-1{
     color: #484A87;
}

h1{
  color: #484A87;
}

p{
   color: #676996;
 }

.btn{
   color: #fff !important;
   background-color: #1E1E5C !important;
}

  @media screen and (max-width: 768px){
     .navbar{
        margin-left: 10px;
        margin-right: 10px;
      }

    .display-1{
        margin-top: 50px;
        text-align: center;
    }

    .learning-left > p{
      text-align: center;
    }

    .landing-button{
      display: flex;
      justify-content: center;
    }

    .landing-right .img-fluid{
      display: none;
    }
  }

.card{
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
    white-space: normal;
    overflow: hidden !important;
}

.card .card-img-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    overflow: hidden !important;
}

.card .card-body{
    padding: 24px !important;
}

.text-primary-clr{
    color: rgb(24, 17, 60) !important;
}

.text-secondary-clr{
    color: rgb(92, 87, 118) !important;
}

.btn-primary-clr{
    background-color: #19cb98;
}

.mn{
    margin-top: -3.5rem !important;
}

.card-header .nav .nav-item{
    margin: 0 1.5rem !important;
}

.card-header .nav .nav-item .nav-link:hover {
    background-color: transparent !important;
    border-bottom: 2px solid #754ffe !important;
    color: #754ffe !important;

}

.card-header .nav .nav-item .nav-link{
    padding: 15px 0 !important;
    margin-bottom: -1px !important;
    font-weight: 500;
    whitespace: nowrap !important;
}

.card-header .nav .nav-item .active {
    background-color: transparent !important;
    border-bottom: 2px solid #754ffe !important;
    color: #754ffe !important;
}

button:focus {
    box-shadow: none !important;
}

h2 > button:hover{
   color: #754ffe !important;
}

.text-tertiary-clr{
    color: rgb(94, 63, 203) !important;
}

.bg-purple{
    background-color:#754ffe;
}

.btn-browse{
        background-color: #D8FE4F;
        font-weight:600;
        color: rgb(24, 17, 60);
}

.btm-margin{
    margin-bottom: 100px !important;
}

.form-control:focus{
    box-shadow: 0 0 2px 2px rgba(117,79,254, 0.25) !important;
    border-color: rgba(117,79,254, 0.25) !important;
    color: rgb(92, 87, 118) !important;
}
.error{
    border: 2px solid red !important;
}

@media (max-width: 992px){
    .btm-margin{
       margin-bottom: 220px !important;
    }

    .rate-card{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 770px){
    .description-cont{
        display: block;
        text-align: inherit;
    }
}
